/* :root {
} */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 26px;
  background-color: hsl(218, 23%, 16%);
}

.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  max-width: 30vw;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  color: hsl(193, 38%, 86%);
}
.adviceID {
  font-size: 18px;
  letter-spacing: 0.25em;
  color: hsl(290, 100%, 66%);
  text-transform: capitalize;
}
.adviceBody {
  text-align: center;
}
.adviceBorder {
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: solid 0.25rem hsl(290, 100%, 66%);
}

#factButton {
  font-size: 4rem;
  font-weight: bolder;
}

button {
  height: auto;
  width: 6rem;
  border: 0.5rem solid hsl(217, 19%, 24%);
  border-radius: 100%;
  padding: 0.25rem;
  position: absolute;
  top: 90%;
  transition: 0.2s;
  color: hsl(217, 19%, 24%);
  background-color: hsl(193, 38%, 86%);
  outline: none;
}

@media (min-width: 900px) {
  button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 1px hsl(290, 100%, 66%);
    color: hsl(193, 38%, 86%);
    border-color: hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
  }
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }
  .card {
    max-height: 40vh;
    max-width: 65vw;
  }
}

@media (max-width: 900px) {
  .card {
    min-height: 40vh;
    max-height: 50vh;
    max-width: 65vw;
  }
  button:active {
    box-shadow: 0px 0px 30px 1px hsl(290, 100%, 66%);
    color: hsl(193, 38%, 86%);
    border-color: hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
  }
}
